@model IEnumerable<DatabaseLayer.Models.Customer>

<div class="container">
    <h2 class="text-center">Customers:</h2>
    <table>
        <div class="align-self-lg-center">
            <tr>
                <td>id</td>
                <td>First name</td>
                <td>Last name</td>
                <td>Full name</td>
            </tr>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.FullName</td>
                </tr>
            }
        </div>
    </table>
</div>