<div class="container">
    <h1>Sales statistics display system</h1>
    <p><a asp-controller="Customer" asp-action="CustomersPage">Customers</a></p>
    <p><a asp-controller="Manager" asp-action="ManagersPage">Managers</a></p>
    <p><a asp-controller="Product" asp-action="ProductsPage">Products</a></p>
    <p><a asp-controller="Order" asp-action="OrdersPage">Orders</a></p>
</div>