<div class="container">
    <h1>Sales statistics display system</h1>
    <p><a asp-action="CustomersPage">Customers</a></p>
    <p><a asp-action="ManagersPage">Managers</a></p>
    <p><a asp-action="ProductsPage">Products</a></p>
    <p><a asp-action="OrdersPage">Orders</a></p>
</div>