@model IEnumerable<DatabaseLayer.Models.Manager>

<div class="container">
        <h2>Customers:</h2>
    <table>
        <tr>
            <td>id</td>
            <td>Last name</td>
        </tr>
        @foreach (var manager in Model)
        {
            <tr>
                <td>@manager.Id</td>
                <td>@manager.LastName</td>
            </tr>
        }
    </table>
</div>