@model IEnumerable<DatabaseLayer.Models.Product>

<div class="container">
    <h2>Customers:</h2>
    <table>
        <tr>
            <td>id</td>
            <td>Name</td>
            <td>Price</td>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </table>
</div>