<h2 class="text-center">Products:</h2>
<button class="btn btn-primary" id="btnRefreshTable">Refresh table</button>
<div class="container-fluid">
    <table class="col-md-8 table table-bordered table-hover table-striped table-dark">
        <thead class="text-center">
            <tr class="col-md-12">
                <th>id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody class="text-center"></tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/productAjax.js"></script>
}